<%= render 'shared/notice' %>
<%= render 'shared/add_link', name: '新年级', path: new_grade_path %>
<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to grade.name, edit_grade_path(grade), remote: true %></td>
        <td><%= grade.description %></td>
        <td><%= render 'shared/delete_link', path: grade %></td>
      </tr>
    <% end %>
  </tbody>
</table>