<%= render 'shared/add_link', name: '新角色', path: new_class_role_path %>
<%= render 'shared/notice' %>
<table class="table">
  <thead>
    <tr>
      <th>角色名称</th>
      <th>角色描述</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_roles.each do |class_role| %>
      <tr>
        <td><%= class_role.name %></td>
        <td><%= class_role.description %></td>
        <td><%= render 'shared/edit_link', path: edit_class_role_path(class_role) %></td>
        <td><%= render 'shared/delete_link', path: class_role %></td>
      </tr>
    <% end %>
  </tbody>
</table>