<span class="glyphicon glyphicon-globe"></span>
<span class="head"> 概览</span>
<hr>
<div id="agency-info">
	<span class="glyphicon glyphicon-flag"></span>
	<strong><%= current_user.agency.name %></strong>
	<strong>&nbsp;&nbsp;&nbsp;<%= @current_semester.name %></strong>
	<span class="right-button">
		<%= "#{current_user.username}, 
				#{current_user.roles.map { |role| role.name }.join(',')},
				#{current_user.department.nil?? "未分配部门" : current_user.department.name} " %>
	</span>
</div>
<div id="students-info">
	<span>
		<span class="glyphicon glyphicon-stats"></span>
		共<strong><%= @total_classes %></strong>个班级, <%= @total_students %>个学生.
	</span>

	<span>
		本学期共发生<strong><%= @student_times %></strong>人次, <strong><%= @total_behaviors %></strong>起违反校园秩序的行为。
	</span>
	<table class="table table-bordered">
		<thead>
			<tr>
				<% @type_counts.each do |item| %>
					<th><%= item[0] %></th>	
				<% end %>
			</tr>	
		</thead>
		<tbody>
			<tr>
				<% @type_counts.each do |item| %>
					<td><%= item[1] %></td>
				<% end %>
			</tr>	
		</tbody>
	</table>
</div>