<%= render 'shared/notice' %>
<%= link_to '新 增', new_menu_path, remote: true, class: "btn btn-large btn-primary" %>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>名称</th>
      <th>Url</th>
      <th>控制器</th>
      <th>操作</th>
      <th>父级菜单</th>
      <th>状态</th>
      <th>排序</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menus.each do |menu| %>
      <tr class="one_level">
        <td><%= link_to menu.name, edit_menu_path(menu), :remote => true %></td>
        <td><%= menu.url %></td>
        <td><%= menu.controller %></td>
        <td><%= menu.action %></td>
        <td><%= menu.parent_menu.nil?? "根菜单" : menu.parent_menu.name %></td>
        <td><%= menu.status == 1? "启用" : "停用" %></td>
        <td><%= menu.display_order %></td>
        <td><%= link_to 'Destroy', menu, method: :delete, remote: true,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% if menu.has_kids? %>
        <% menu.sub_menus.each do |sub_menu| %>
          <tr class="two_level">
            <td><%= link_to sub_menu.name, edit_menu_path(sub_menu), remote: true %></td>
            <td><%= sub_menu.url %></td>
            <td><%= sub_menu.controller %></td>
            <td><%= sub_menu.action %></td>
            <td><%= menu.name %></td>
            <td><%= sub_menu.status == 1? "启用" : "停用" %></td>
            <td><%= sub_menu.display_order %></td>
            <td><%= link_to 'Destroy', sub_menu, method: :delete, remote: true,
              data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>    
      <% end %>
    <% end %>
  </tbody>
</table>