<!-- 如果是编辑，则返回按钮指向班级学生列表，如果是新增则指向学生中心主界面 -->
<% if @student.id %>   
  <%= render 'shared/back_link', path: students_path(iclass_id: @student.iclass_id) %>
<% else %>  
  <%= render 'shared/back_link', path: students_home_path %>
<% end %>  
<%= form_for(@student, remote: true, :authenticity_token => true, 
  html: { :multipart => true, class: "form-horizontal", role: "form" }) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :sid, "学 号",class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :sid, class: "form-control" %>  
    </div>

    <%= f.label :name, "姓 名",class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :gender, "性 别",class: "col-sm-1 control-label" %>
    <div class="col-sm-3 box" >
      <% Student.genders.each do |key, value| %>  
        <%= f.radio_button(:gender, key) %>  
        <%= f.label(:gender, ((key=="male"? "男" : "女"))) %>
        &nbsp;
      <% end %>
    </div>
    <%= f.label :id_number, "身份证", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :id_number, class: "form-control" %>
    </div>    
  </div>

  <div class="form-group">
    <%= f.label :iclass_id, "班 级",class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.select(:iclass_id, options_for_select(@iclasses.map { |c| ["#{c.grade.name}-#{c.name}", c.id] }, 
        @student.iclass_id), { prompt: "选择班级" }, { class: "form-control" }) %>
    </div>
    <%= f.label :phone, "手机号", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.text_field :phone, class: "form-control" %>
    </div>    
  </div>

  <div class="form-group">
    <%= f.label :photo, "照 片", class: "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= image_tag(@student.photo_url, size: "80x100") if @student.photo? %>
      <%= image_tag("students/#{@student.iclass.name}/#{@student.name}.jpg", size: "80x100") %>
      <%= f.file_field :photo, class: "form-control" %>
      <%= f.hidden_field :photo_cache %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :class_roles, "角色",class: "col-sm-1 control-label" %>
    <div class="col-sm-11 box">
      <% ClassRole.all.each do |role| %>
        <%= check_box_tag "class_roles[]", role.id, @student.class_roles.include?(role) %>  
        <%= label_tag role.name %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-2">
      <%= hidden_field_tag :menu_id, Menu.find_by(name: '学生中心').id %>
      <%= f.submit "保 存", class: "btn btn-large btn-primary" %>      
    </div>
  </div>
<% end %>