<!-- 这段js代码的作用：在点击年级tab时自动点击链接到第一个班级学生列表 -->
<script type="text/javascript">
  $(document).ready(function(){
    $("a.grade-tab").click(function(event){
      $("a#".concat("class0", "-link")).click();
    });
  });
</script>
<div id="notice">
  <%= render 'shared/notice_heavy' %>  
</div>
<div class="top-links">
  <%= link_to "学生中心", iclasses_path, remote: true %> |
  <%= render 'shared/import_link', path: import_export_students_path, remote: true %> |
  <%= render 'shared/export_link', path: import_export_students_path, remote: true %> 
  <%= render 'shared/add_link', path: new_iclass_path, name: "新班级" %>
  <%= render 'shared/add_link', path: new_student_path, name: "新学生" %> 
</div>

<div id="class-content" class="link-content">  
  <div class="tabbable">
    <!-- 顶部年级导航条 -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#1" data-toggle="tab">全部</a></li>
      <% @grades.each_with_index do |grade, index| %>
        <li>
          <a href="#<%= index+2 %>" data-toggle="tab" class="grade-tab" id="grade<%= grade.id %>">
            <%= grade.name %></a>
        </li>
      <% end %>
    </ul>
    
    <!-- 各个tab的内容区，以id链接 -->
    <div class="tab-content">
      <div class="tab-pane active" id="1">
        <%= render partial: 'iclasses/index' %>
      </div>
      
      <% @grades.each_with_index do |grade, index| %>
        <div class="tab-pane" id="<%= index+2 %>">
          <div class="row">
            
            <div class="col-sm-2 col-lg-1" id="class-nav">
              <ul class="nav nav-list">
                <% grade.iclasses.each_with_index do |iclass, index| %>
                  <% if index == 0 %>
                    <li class="active">
                      <%= link_to iclass.name, students_path(iclass_id: iclass.id), remote: true, id: "class#{index}-link" %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to iclass.name, students_path(iclass_id: iclass.id), remote: true %>
                    </li>
                  <% end %>
                <% end %>
              </ul>    
            </div>

            <div class="col-sm-10 col-lg-11" id="students-content">
            </div>

          </div>
        </div>  
      <% end %>
    </div>
  </div>

</div>