<table class="table">
  <thead>
    <tr>
      <th>班级</th>
      <th>学号</th>
      <th>姓名</th>
      <th>身份证号</th>
      <th>手机号</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.iclass.name %></td>
        <td><%= link_to student.sid, student, remote: true %></td>
        <td><%= link_to student.name, student, remote: true %></td>
        <td><%= student.id_number %></td>
        <td><%= student.phone %></td>
        <td>
          <% if student.graduated? %>
            <strong>已毕业</strong>
          <% end %>
          <%= link_to edit_student_path(student), remote: true do %>
            <span class="glyphicon glyphicon-edit"></span> 
          <% end %>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>
<%= paginate @students %>