<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered">
      <tr>
        <th><strong>学 号:</strong></th>
        <td><%= @student.sid %></td>
      </tr>
      <tr>
        <th><strong>姓 名:</strong></th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th><strong>班 级:</strong></th>
        <td><%= "#{@student.iclass.grade.name}#{@student.iclass.name}" %></td>
      </tr>
      <tr>
        <th><strong>身份证号:</strong></th>
        <td><%= @student.id_number %></td>
      </tr>
      <tr>
        <th><strong>手机号码(家长):</strong></th>
        <td><%= @student.phone %></td>
      </tr>
      <tr>
        <th><strong>状 态:</strong></th>
        <td>
          <% if @student.graduated? %>
            已毕业 | <%= link_to "设为在读", student_graduate_path(id: @student.id, graduated: false), remote:true %>
          <% else %>
            在读 | <%= link_to "设为已毕业/退学", student_graduate_path(id: @student.id, graduated: true), remote: true %>
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to "添加行为记录", new_behavior_path(student_id: @student.id), remote: true, class: 'btn btn-primary' %>
    <%= link_to "查看行为评价报告", reports_path(student_id: @student.id), remote: true, class: 'btn btn-primary' %>
  </div>

  <div id="photo" class="col-sm-3">
    <% if @student.photo? %>
      <%= image_tag(@student.photo_url, size: "220x280") %>
    <% else %>  
      <span>未上传该学生照片！</span>
    <% end %>    
  </div>
</div>