<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered">
      <tr>
        <th><strong>学 号:</strong></th>
        <td><%= @student.sid %></td>
      </tr>
      <tr>
        <th><strong>姓 名:</strong></th>
        <td><%= @student.name %></td>
      </tr>
      <tr>
        <th><strong>性 别:</strong></th>
        <td><%= @student.gender %></td>
      </tr>
      <tr>
        <th><strong>班 级:</strong></th>
        <td><%= "#{@student.iclass.grade.name}#{@student.iclass.name}" %></td>
      </tr>
      <tr>
        <th><strong>角 色:</strong></th>
        <td><%= @student.class_roles.map { |role| role.name }.join(',') %></td>
      </tr>
    </table>
  </div>

  <div id="photo" class="col-sm-3">
    <% if @student.photo? %>
      <%= image_tag(@student.photo_url, size: "220x280") %>
    <% else %>  
      <span>未上传该学生照片！</span>
    <% end %>    
  </div>
</div>