<div class="top-links">
  <%= link_to "我的学校", my_school_path, remote: true %> |
  <%= link_to "年级", grades_path(graduated: false), remote: true %> |
  <%= link_to "学期", semesters_path, remote: true %> |
  <%= link_to "班级角色", class_roles_path, remote: true %>
</div>
<div id="agency-content" class="link-content">
  <%= render 'my_school' %>  
</div> 