<%= render 'shared/add_link', name: "新类型", path: new_school_type_path %>
<%= render 'shared/notice' %>
<table class="table">
  <thead>
    <tr>
      <th>名称</th>
      <th>描述</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @school_types.each do |school_type| %>
      <tr>
        <td><%= link_to school_type.name, edit_school_type_path(school_type), remote: true %></td>
        <td><%= school_type.description %></td>
        <td><%= render 'shared/delete_link', path: school_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>