<script type="text/javascript">
  $(document).ready(function() {
    $('.datatable').dataTable({
      "oLanguage": {
        "sLengthMenu": "每页条数:_MENU_",
        "sZeroRecords": "抱歉， 没有找到",
        "sSearch": "搜索:",
        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
        "sInfoEmpty": "没有数据",
        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
        "oPaginate": {
        "sFirst": "首页",
        "sPrevious": "前一页",
        "sNext": "后一页",
        "sLast": "尾页"
        }
      }  
    });
  });
</script>
<%= render 'shared/notice' %>
<div class="top-links"> 
  <%= link_to "最近3天", behaviors_path(time: "3"), remote: true %> |
  <%= link_to "最近一周", behaviors_path(time: "7"), remote: true %> |
  <%= link_to "最近一月", behaviors_path(time: "30"), remote: true %> |
  <%= link_to "更多查询", behaviors_path, remote: true %> |
  <a href="/behaviors?time=<%= @scope %>"><span class="glyphicon glyphicon-export"></span> 导出到Excel</a>
  <%= render 'shared/add_link', path: new_behavior_path, name: '添加记录' %>
</div>
<div id="behaviors-content" class="link-content">
  <table class="datatable">
    <thead>
      <tr>
        <th>发生时间</th>
        <th>学生</th>
        <th>行为类型</th>
        <th>地点</th>
        <th>过程描述</th>
        <th>扣/加分</th>
        <th>状态</th>
        <th>短信发送</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @behaviors.each do |behavior| %>
        <tr>
          <td><%= time_format_min(behavior.time) %></td>
          <td><%= "#{behavior.student.name}, #{behavior.student.iclass.name}" %></td>
          <td><%= behavior.behavior_type.name %></td>
          <td><%= behavior.address %></td>
          <td><%= link_to behavior.description.truncate(15), behavior, remote: true %></td>
          <td><%= behavior.score %></td>
          <td><%= transfer_confirm_state(behavior.confirm_state) %></td>
          <td><%= behavior.sm.nil?? "未发送" : behavior.sm.status %></td>
          <td>
            <% if behavior.confirmed? || behavior.canceled? %>
              <%= link_to '详细', behavior, remote: true %>
            <% else %>
              <%= link_to edit_behavior_path(behavior), remote: true do %>
                <span class="glyphicon glyphicon-edit"></span>   
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>