<%= render 'shared/back_link', path: behaviors_path %> |
<%= link_to @behavior, method: :delete, remote: true, data: { confirm:  'Are you sure?' } do %>
  <span class="glyphicon glyphicon-off"></span> 设为无效
<% end %> |
<%= render 'shared/print_link', path: behavior_print_path(id: @behavior.id) %>      
<%= render 'shared/notice_heavy' %>
<h1>学生行为记录单</h1>
<div id="bevavior-info">
  <table class="table table-bordered">
    <tr>
      <th><strong>流 水 号:</strong></th>
      <td><%= @behavior.serial_number %></td>
    </tr>
    <tr>
      <th>
        <strong>学生信息:</strong>    
      </th>
      <td>
        <%= "#{@behavior.student.name}, #{@behavior.student.iclass.grade.name}-#{@behavior.student.iclass.name}" %>     
      </td>
    </tr>

    <tr>
      <th>
        <strong>行为信息:</strong>    
      </th>
      <td>
        <%= "#{@behavior.behavior_type.name}, #{@behavior.description}" %>
      </td>
    </tr>

    <tr>
      <th>
        <strong>发生时间:</strong>    
      </th>
      <td>
        <%= time_format_min(@behavior.time) %>
      </td>
    </tr>

    <tr>
      <th>
        <strong>发生地点:</strong>
      </th>
      <td>
        <%= @behavior.address %>
      </td>
    </tr>

    <tr>
      <th>
        <strong>扣分情况:</strong>    
      </th>
      <td>
        <%= "本次扣分#{@behavior.score}分" %>    
      </td>
    </tr>

    <tr>
      <th>
        <strong>家长手机:</strong>    
      </th>
      <td>
        <%= @behavior.student.phone %>    
      </td>
    </tr>

    <tr>
      <th>
        <strong>学生确认:</strong>    
      </th>
      <td>
        <%= transfer_confirm_state(@behavior.confirm_state) %>
      </td>
    </tr>    
  </table>
  <div class="col-sm-offset-4 col-sm-8">
    <%= link_to behavior_print_path(id: @behavior.id), class: "btn btn-large btn-default", id: "print-button",
                onclick: "var w = window.open(this.href); w.focus(); return false;" do %>
      <span class="glyphicon glyphicon-print"></span> 打印确认单
    <% end %>

    <%= link_to behavior_confirm_path(id: @behavior.id), class: "btn btn-large btn-success", remote: true, 
                id: "confirm-button" do %>
      <span class='glyphicon glyphicon-check'></span> 设为已确认                
    <% end %>

    <% if @behavior.sm %>
      <%= link_to send_message_path(id: @behavior.sm.id, from: "behavior"), class: "btn btn-large btn-default", method: :post, 
                  remote: true, id: "send-button" do %>
        <span class='glyphicon glyphicon-send'></span> 重新发送短信
      <% end %>
    <% end %>              
  </div>
</div>