<%= image_tag("my_announcements.gif",alt: "我的审批") %>
<span class="head">我的审批</span>
<hr>
<%= will_paginate @being_reviews, :previous_label => '&#8592; ', :next_label => '&#8594;', 
  :style => 'font-size: small, border: none' %>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>标题</th>
        <th>发起人</th>
        <th>发布时间</th>
      </tr>
    </thead>

    <tbody>
      <% @being_reviews.each do |announcement| %>
        <tr>
          <td><%= link_to announcement.name, announcement_path(id: announcement.id, from: "home"), 
            remote: true %></td>
          <td><%= announcement.user.username %></td>
          <td><%= time_format(announcement.created_at.getlocal) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>