<script type="text/javascript">
  $(document).ready(function() {
      $("a.reset").click(function(event) {
        event.preventDefault();
        $(':input','form')  
         .not(':button, :submit, :reset, :hidden')  
         .val('')  
         .removeAttr('checked')  
         .removeAttr('selected');  
      });
  });
</script>
<%= link_to agencies_path, remote: true do %>
  <span class="glyphicon glyphicon-arrow-left"></span> 返 回
<% end %> |
<a href="#" class="reset">清空</a>
<%= form_for(@agency, remote: true, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object%>

  <div class="form-group">
    <%= f.label :name, "机构名称", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control' %>  
    </div>
  </div>

  <div class="form-group">
    <%= f.label :school_type_id, "学校类型", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <% SchoolType.all.each do |type| %>
        <%= f.radio_button(:school_type_id, type.id) %>  
        <%= f.label(:school_type_id, type.name) %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :header, "校长", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :header, class: 'form-control' %>  
    </div>
  </div>  
  
  <div class="form-group">
    <%= f.label :address, "地址", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :address, class: 'form-control' %>  
    </div>
  </div>  

  <div class="form-group">
    <%= f.label :description, "描述", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
      <%= f.text_area :description, class: 'form-control', rows: 4 %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <%= f.submit "保  存", class: "btn btn-large btn-primary" %>    
    </div>
<% end %>