<%= render 'shared/notice' %>
<div class="top-links">
  <%= link_to "评价规则", estimate_rules_path, remote: true %> |
  <%= link_to "行为类型", behavior_types_path, remote: true %> 
  <%= render 'shared/add_link', name: "新规则", path: new_estimate_rule_path %>  
</div>

<div id="estimate_rules" class="link-content">
  <strong>满分:</strong><%= full_score %>
  <table class="table">
    <thead>
      <tr>
        <th>序号</th>
        <th>范围(分值)</th>
        <th>评价</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @estimate_rules.each_with_index do |rule, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= "#{rule.lower}~#{rule.higher}" %></td>
          <td><%= rule.description %></td>
          <td><%= render 'shared/edit_link', path: edit_estimate_rule_path(rule) %></td>
          <td>
            <%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>