<p id="notice"><%= notice %></p>

<p>
  <strong>Mid:</strong>
  <%= @sm.mid %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sm.phone %>
</p>

<p>
  <strong>Content:</strong>
  <%= @sm.content %>
</p>

<p>
  <strong>Send time:</strong>
  <%= @sm.send_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sm.status %>
</p>

<%= link_to 'Edit', edit_sm_path(@sm) %> |
<%= link_to 'Back', sms_path %>
