<%= render 'shared/notice' %>  
<div class="top-links">
  <%= render 'shared/new_button', path: new_procedure_path, name: "新增流程" %>
</div>
<div id="procedure-content" class="link-content">
  <table class="table">
    <thead>
      <tr>
        <th>流程名称</th>
        <th>流程步骤</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @procedures.each do |procedure| %>
        <tr>
          <td><%= link_to procedure.name, procedure, remote: true %></td>
          <td><%= procedure.steps.map { |step| step.user.username }.join('->') %></td>
          <td>
          <%= render 'shared/edit_link', path: edit_procedure_path(procedure) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>