<%= render 'shared/notice' %>
<div id="procedure-name">
	<strong>流程名称:</strong>
  <%= @procedure.name %> |
  <%= render 'shared/edit_link', path: edit_procedure_path(@procedure) %>
</div>
<div class="top-links">
	<%= render 'shared/back_link', path: procedures_path %> 
	<%= link_to "添加步骤", new_step_path(procedure_id: @procedure.id), remote: true %>
</div>
<div id="steps">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>顺序</th>
				<th>审批人</th>
				<th></th>
				<th></th>	
			</tr>
		</thead>
		<tbody>
			<% @procedure.steps.sort { |a,b| a.view_order <=> b.view_order }.each do |step| %>
				<tr>
					<td><%= step.view_order %></td>
					<td><%= step.user.username %></td>
					<td>
						<%= render 'shared/edit_link', path: edit_step_path(step) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>	
</div>
<div id="new-step" class="col-sm-6"></div>  