<div id="students-stats">
  <span class="glyphicon glyphicon-stats"></span>  
  共<%= current_user.agency.total_students %>位学生, <%= current_user.agency.iclasses.size %>个班级.
</div>
<table class="table" id="class-table">
  <thead>
    <tr>
      <th>班级名称</th>
      <th>年级</th>
      <th>班主任</th>
      <th>学生</th>
      <th>累计违规行为</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @iclasses.each do |iclass| %>
      <tr>
        <td><%= link_to iclass.name, edit_iclass_path(iclass), remote: true %></td>
        <td><%= iclass.grade.name %></td>
        <td><%= iclass.header %></td>
        <td><%= iclass.students.size %></td>
        <td><%= behaviors_count_of_class(iclass) %></td>
        <td>
          <%= link_to edit_iclass_path(iclass), remote: true do %>
            <span class="glyphicon glyphicon-edit"></span>  
          <% end %>
        </td>
        <td>
          <%= link_to iclass, method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-remove"></span>  
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>