<div id="students-stats">
  <span class="glyphicon glyphicon-stats"></span>  
  共<%= @total_classes %>个班级, <%= @total_students %>位在读学生.
</div>
<table class="table" id="class-table">
  <thead>
    <tr>
      <th>年级</th>
      <th>班级名称</th>
      <th>班主任</th>
      <th>联系方式</th>
      <th>学生数量</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @iclasses.each do |iclass| %>
      <tr id="tr<%= iclass.id %>">
        <td><%= iclass.grade.name %></td>
        <td><%= iclass.name %></td>
        <td><%= iclass.header %></td>
        <td><%= iclass.phone %></td>
        <td><%= Student.where(iclass_id: iclass.id, graduated: false).size %></td>
        <td>
          <%= render 'shared/edit_link', path: edit_iclass_path(iclass) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @iclasses %>