<h1>本学期各年级校园秩序情况统计</h1>
<table class="table table-bordered table-striped report-table" id="via-grades">
  <thead>
    <tr>
      <th width="20%">年级</th>
      <th width="40%">学生数量</th>
      <th width="40%">本学期累计违规</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.total_students_count %></td>
        <td><%= behaviors_count_of_grade(grade) %></td>
      </tr>
    <% end %>
    <tr>
      <td style="text-align: center;"><strong>合计:</strong></td>
      <td><strong><%= my_agency.total_students %></strong></td>
      <td><strong><%= behaviors_count_of_agency(my_agency) %></strong></td>
    </tr>
  </tbody>
</table>