<h1><%= @semester.name %>各年级校园秩序情况统计</h1>
<table class="table table-bordered table-striped report-table" id="via-grades">
  <thead>
    <tr>
      <th width="25%">年级</th>
      <th width="25%">班级数量</th>
      <th width="25%">学生数量</th>
      <th width="25%">本学期累计违规</th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.name %></td>
        <td><%= grade.iclasses.size %></td>
        <td><%= total_students_of_grade(grade, @semester) %></td>
        <td><%= total_behaviors_of_grade(grade, @semester) %></td>
      </tr>
    <% end %>
    <tr>
      <td style="text-align: center;"><strong>合计:</strong></td>
      <td><strong><%= @total_classes %></strong></td>
      <td><strong><%= @total_students %></strong></td>
      <td><strong><%= @total_behaviors %></strong></td>
    </tr>
  </tbody>
</table>