<div id="banner">
  <%= link_to image_tag("lg.png", size: "120x50", alt: "智慧校园"), root_path, id: "logo-image" %>
	<%= link_to "Wisdom Campus", root_path, id: "logo" %>
  
  <ul id="nav-left" class="nav nav-pills">
    <% current_user.one_level_menus.each do |parent| %>             
      <li>
        <%= link_to "#{parent.url}?parent=#{parent.id}", remote: true do %>
          <span class="glyphicon glyphicon-<%= parent.icon %>"></span> <%= parent.name %>
        <% end %>
      </li>
    <% end %>
  </ul>	

  <nav id="nav-right">
    <ul>
    	<li>欢迎您 <%= link_to current_user.username, my_path, remote: true %></li> 
    	<li>|</li> 
      <li>
      	<%= link_to "English", "#" %>
      </li> 
      <li>|</li>
			<li><%= link_to "帮助", about_path, remote: true %></li>
			<li>|</li> 
			<li><%= link_to "注销", "/logout", method: "delete" %></li>
    </ul>
	</nav>
</div>