<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <%= image_tag("logo.png", size: "210x50", id: "logo") %>
  </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <% current_user.one_level_menus.each do |parent| %>             
        <li>
          <%= link_to "#{parent.url}?parent=#{parent.id}", remote: true, class: "one-level-link" do %>
            <span class="glyphicon glyphicon-<%= parent.icon %>"></span> <%= parent.name %>
          <% end %>
        </li>
      <% end %>        
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "欢迎您, #{current_user.username}", my_path, remote: true, class: "one-level-link" %>
      </li>  
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to about_path, remote: true do %>
              <span class="glyphicon glyphicon-question-sign"></span> 功能向导
            <% end %>
          </li>
          <li>
            <%= link_to "#", remote: true do %>
              <span class="glyphicon glyphicon-earphone"></span> 联系我们
            <% end %>
          </li>
          <li>
            <%= link_to "#", remote: true do %>
              <span class="glyphicon glyphicon-heart-empty"></span> 在线客服
            <% end %>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-user"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to my_path, remote: true do %>
              <span class="glyphicon glyphicon-th-list"></span> 个人资料  
            <% end %>
          </li>
          <li>
            <%= link_to "/logout", method: "delete" do %>
              <span class="glyphicon glyphicon-off"></span> 退 出
            <% end %>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>