<!DOCTYPE html>
<html>
	<head>
	  <title>学生综合行为评价系统</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" =>true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <script type="text/javascript">    
	  	$(document).ready(function() {
	  		$("div#side").css({
	  			"height":document.body.scrollHeight-55
	  		});

				$("a").click(function(event) {
					$("div#content").css({
						"height":document.body.scrollHeight-55,
					});
				});
			});

			$(window).resize(function() {
				$("div#side").css({
	  			"height":document.body.scrollHeight-55
	  		});
			});
	  </script>
	</head>
	<body>
		<!-- 顶部导航区域 -->
		<div id="navbar">
			<%= render 'layouts/header' %>	
		</div>

		<!-- 内容区域 -->
		<div class="container <%= controller.controller_name %>">
			<div class="row">
				
				<!-- 左侧边导航，大屏幕占用1/12宽度，小屏幕2/12宽度 -->
				<div class="col-md-1 col-xs-2" id="side" width="150px">
					<%= render 'layouts/side' %>	
				</div>

				<!-- 内容区 -->
				<div class="col-md-11 col-xs-10" id="content">
					<%= yield %>	
				</div>

			</div>
		</div>	
	</body>
</html>